* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
}

.main {
  height: 100%;
  width: 100%;
}

button {
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: none;
  font-family: "outfit", sans-serif;
  cursor: pointer;
}

.nav {
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
  padding: 8.44vh 6.57vw;
  justify-content: space-between;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.385vw;
}

.nav-links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.search-div {
  width: auto;
  display: flex;
  background-color: white;
  border-radius: 12px;
  padding: 1.762vh 0.65vw;
  box-shadow: 0px 4px 9px 2px rgba(150, 150, 150, 0.1);
}

.search-div input {
  width: 8.138020833333334vw;
  background-color: transparent;
  border: 0;
  margin: 0 8px;
  outline: none;
  font-family: "outfit", sans-serif;
  font-size: 1.11875vw;
  border-right: 0.1vw solid black;
}

.ri-menu-3-fill {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    position: sticky;
    z-index: 1000;
    width: 90vw;
  }

  .ri-menu-3-fill {
    font-size: 3vw;
    font-weight: 800;
    display: block;
  }

  .nav .nav-links .search-div input {
    font-size: 1.8vw;
  }

  .nav-links a {
    display: none;
  }
}

.banner {
  width: 100%;
  height: 114.38848920863309vh;
  background: url(img/bannerbg.svg);
  display: flex;
  justify-content: space-between;
}

.banner .right .bannerImage {
  width: 33.333333333333336vw;
  height: 76.83453237410072vh;
}

.banner .left {
  padding-left: 6.57vw;
  padding-top: 3vw;
  width: 40%;
}

.banner .left h1 {
  font-size: 4.6875vw;
  font-weight: 600;
  padding-bottom: 3.741007194244604vh;
}

.banner .left h4 {
  font-size: 1.3020833333333333vw;
  font-weight: 400;
  padding-bottom: 1.330935251798561vh;
}

.blackbtn {
  position: relative;
  background: url("img/blackbtnbg.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 12.765625vw;
  max-width: 18vw;
  color: white;
  height: 60px;
}

.blackbtn h2 {
  font-size: 1.3020833333333333vw;
  font-weight: 400;
  text-transform: uppercase;
}

.banner-icons {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.video {
  display: flex;
  align-items: center;
}

.video img {
  height: 13.237410071942445vh;
  width: 5.989583333333333vw;
}

.video h2 {
  font-size: 1.3020833333333333vw;
  font-weight: 500;
  padding-left: 1vw;
}

.banner .right {
  width: 40%;
}

@media (max-width: 768px) {
  .search-div {
    display: none;
  }

  .blackbtn {
    min-width: 32vw;
  }
  .nav {
    padding: 30px;
  }
  .ri-menu-3-fill {
    font-size: 8vw;
  }
  .banner {
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    gap: 0;
  }

  .banner .right .bannerImage {
    width: 88.333333vw;
  }
  .banner .left {
    width: 100%;
    text-align: center;
  }

  .banner .left h1 {
    font-size: 16.6vw;
    padding: 0;
  }

  .banner .left h4 {
    font-size: 5vw;
    padding: 2vh;
  }

  .banner .left .banner-icons {
    justify-content: center;
  }

  .banner .right {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .video img {
    height: 19.237410071942445vh;
    width: 10.989583333333333vw;
  }
  .video h2 {
    font-size: 7vw;
  }

  .blackbtn {
    background-position: center;
    background-repeat: no-repeat;
    width: 35.020833333333334vw;
    height: 14.388489208633093vh;
  }

  .blackbtn h2 {
    font-size: 3vw;
  }
  .banner .right {
    padding: 0;
    margin: 0;
  }
  .banner .right img {
    padding: 0;
    margin: 0;
  }
}

.banner-bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5.208333333333333vw;
  gap: 30px;
  width: 100%;
}
.card {
  width: 24.103515625vw;
  height: 35.60863309352518vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6.527415143603133vw;
}
.card h3 {
  color: white;
  font-size: 2vw;
  font-weight: 600;
}
.card1 {
  background: url(img/card1.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24.103515625vw;
  height: 35.60863309352518vh;
}
.card2 {
  background: url(img/card2.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24.103515625vw;
  height: 35.60863309352518vh;
}

.card3 {
  background: url(img/card3.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24.103515625vw;
  height: 35.60863309352518vh;
}

.whitebtn {
  background: url(img/whitebtn.svg);
  width: 116px;
  height: 46px;
}

@media (max-width: 768px) {
  .banner-bottom {
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-top: 100vw;
  }

  .banner-bottom .card {
    width: 100%;
  }
  .banner-bottom .card h3 {
    font-size: 6vw;
  }
  .card h3 {
    font-weight: 300;
  }
}

.section2 {
  width: 100%;
  background-color: white;
  padding-left: 1.1vw;
}
.section2 h1 {
  margin-bottom: 7.83289817232376vw;
  font-size: 44px;
  font-weight: 600;
}

.text-block h3 {
  margin-bottom: 4.177545691906006vw;
  margin-right: 13.838120104438643vw;
  white-space: nowrap;
  padding-right: 30px;
}
.text-block h4 {
  font-weight: 500;
  margin-bottom: 3.0026109660574414vw;
}

.second-block {
  display: flex;
}

.item-info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.image-card img {
  width: 300px;
  height: 300px;
  margin-bottom: 5.091383812010444vw;
}

.info img {
  width: 46px;
  height: 52px;
}

.collection-image-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

@media (max-width: 768px) {
  .collections {
    width: 100%;
    height: 100%;
  }
  .section2 h1:first-child {
    text-align: center;
  }
  .section2 {
    margin-top: 25vw;
    margin-bottom: 10vw;
  }
  .collection-types {
    text-align: center;
  }
  .item-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .item-info div:nth-child(2) {
    padding: 3vw 0;
  }

  .second-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second-block .text-block {
    text-align: center;
  }
  .text-block h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 3vw;
  }
  .collection-image-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .info img {
    padding: 0;
    margin: 0;
  }
  .image-card {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .image-card div:first-child img {
    width: 100vw;
    height: auto;
  }
}

.section3 {
  height: auto;
  margin-top: 28.776978417266186vh;
  width: 100%;
  background-color: #f0f2ff;
  display: flex;
  margin-bottom: 7.76978417266186vh;
  padding: 10vw 0;
}

.section3 .left {
  width: 50%;
}

.section3 .left img {
  width: 37.3046875vw;
  height: 81.15107913669065vh;
}

.section3 .right {
  display: flex;
  flex-direction: column;
}

.section3 .right h3 {
  font-size: 3.6458333333333335vw;
  font-weight: 500;
  font-family: "outfit", sans-serif;
}

.section3 .right h4 {
  font-size: 1.3020833333333333vw;
  font-weight: 400;
  line-height: 3;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.section3 .right {
  width: 50%;
}

.learnMore {
  background: url("img/learnmore.svg");
  background-repeat: no-repeat;
  color: white;
  height: 60px;
}

@media (max-width: 768px) {
  .section3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: auto;
  }
  .section3 .left img {
    width: 90%;
    height: auto;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .section3 .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .section3 .right h3 {
    font-size: 7vw;
    text-align: center;
  }
  .section3 .right h4 {
    font-size: 3.302083vw;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .section3 .right .learnMore {
    margin-top: auto;
    margin-bottom: 0;
  }
}

.section4 {
  width: 100%;
  margin-top: 10vw;
  margin: 0 auto;
  margin-bottom: 6.889vw;
}

.sec4-head {
  text-align: center;
}

.sec4-head h1 {
  font-size: 55px;
  font-weight: 600;
}

.sec4-head h3 {
  font-weight: 400;
  margin-bottom: 75px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

.row .image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row .image-card > img {
  width: 354px;
  height: 312px;
}

@media (max-width: 768px) {
  .item-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .info img {
    padding: 0;
    margin: 0;
    margin-left: 0px;
    margin-left: 30px;
  }
}

.section5 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.section5 h1 {
  font-size: 3.889vw;
  padding-bottom: 40px;
}

.large-black-input {
  display: flex;
  position: relative;
  background-color: black;
  color: white;
  padding: 10px;
}

.large-black-input input {
  border: 0;
  outline: 0;
  width: calc(60% - 60px);
  height: 30px;
  font-size: 1.37vw;
  font-family: "outfit", sans-serif;
  background-color: transparent;
  color: white;
  bottom: 10px;
  left: 40px;
  padding-left: 10px;
}

.sub {
  right: 60px;
  bottom: 5px;
  height: 60%;
  width: calc(40% - 60px);
  background: url(img/subbg.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  font-size: 1.367vw;
  font-weight: 500;
  color: black;
}

.section5 img {
  width: 24.653vw;
  padding-left: 100px;
}

@media (max-width: 768px) {
  .section5 {
    flex-direction: column;
    align-items: center;
  }

  .section5 h1 {
    font-size: 5vw;
    padding-bottom: 20px;
  }

  .large-black-input {
    width: 80%;
    margin-bottom: 20px;
    position: relative;
  }

  .large-black-input input {
    width: 100%;
    font-size: 2.5vw;
  }

  .sub {
    position: absolute;
    right: 10px;
    top: 10px;
    width: auto;
    font-size: 2.5vw;
  }

  .section5 img {
    width: 60vw;
    padding-left: 0;
  }
}

.section6 {
  margin-top: 13vw;
  background-color: #f8f2ed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5.583vw;
}

.sect6-button {
  background: url(img/followUsButton.svg);
  background-repeat: no-repeat;
}

.section6 .left,
.section6 .right {
  padding-top: 3.583vw;
}

.section6 .center {
  padding-top: 7vw;
  padding-left: 5vw;
}

.section6 h1 {
  font-weight: 600;
  padding-bottom: 2vw;
  font-size: 1.528vw;
}

@media (max-width: 767px) {
  .section6 {
    margin-top: 20vw;
    flex-direction: column;
    align-items: center;
  }

  .section6 .left,
  .section6 .right {
    padding-top: 10vw;
    width: 100%;
  }

  .section6 .center {
    padding-top: 8vw;
    padding-left: 0;
    width: 100%;
  }

  .section6 h1 {
    font-size: 10vw;
    padding-bottom: 5vw;
  }

  .sect6-button {
    width: 100%;
    height: auto;
  }

  .section6 .right {
    align-self: center;
  }
}



.section7 {
  background-color: black;
  opacity: 0.9;
 }
 .Footer-Logo
  {
    width: 11.944vw;
    height: 9.028vw;
  }
 .section7 .footerdiv {
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 8vw;
  padding: 10vh 0;
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
 }
 
 .footer-text h3 {
  font-size: 1.6vw;
  font-weight: 600;
  opacity: 0.8;
  padding-bottom: 2vh;
 }
 
 .footer-text h5 {
  font-size: 1.1vw;
  font-weight: 300;
  opacity: 0.6;
  padding-bottom: 1vh;
 }
 @media (max-width: 768px) {
  .Footer-Logo
  {
    width: 30vw;
    height: 4vh;
  }
.section7
{
  padding: 0 10vw;
  margin-top: 5vh;
}
  .section7 .footerdiv {
     max-width: 95vw;
     padding-top: 4vh;
  }
 
  .footer-text {
     margin-bottom: 5vh;
  }
 
  .footer-text h3 {
     font-size: 3vw;
     padding-bottom: 1vh;
  }
 
  .footer-text h5 {
     font-size: 2.5vw;
     padding-bottom: 0.5vh;
  }
 }
 